[TRANSLATION]
title = Natywny GUI avrdude Linux v1.0-RC - Wersja Profesjonalna
flash_box = Pamięć FLASH
eeprom_box = Pamięć EEPROM
browse = Przeglądaj...
write = Zapisz
read = Odczytaj (Kopia)
no_file_hex = Nie wybrano pliku .hex
no_file_eep = Nie wybrano pliku .hex/.eep
err_no_file = Błąd: Najpierw wybierz plik do zapisu!
cancel = 🛑 ZATRZYMAJ!
eg.. -b 8 or -f (write if you want) = np. -B 8 lub -F (wpisać jeśli tylko jeśli naprawdę potrzeba
detect_prog = 🔍 Wykryj programator (Autodetect)
detect_mcu = 🧬 Wykryj proc (Detect MCU)
chip_erase = 🧹 Czyszczenie (Chip Erase)
mem_tab = Pamięć (Flash/EEPROM)
pinout_tab = Podgląd Pinów (Pinout)
fuses_tab = Bezpieczniki (Fuses/Locks)
console_title = Logi i wynik operacji AVRDUDE:
hw_config = Konfiguracja Sprzętowa
control_auto = Kontrola i automatyzacja:
prog_label = Programator (-c):
mcu_label = Procesor (-p):
port_label = Port (-P):
flags_label = Dodatkowe flagi:
hex_direct = Wartości bezpośrednie (Hex)
interactive_calc = Interaktywny Kalkulator Bezpieczników
verify_fuses = Weryfikuj pamięć i bezpieczniki po zapisie (Verify)
clock_system = System taktowania (Zegar):
watchdog_label = Włączony na stałe Watchdog Timer (WDT)
bod_label = Ochrona przed spadkiem napięcia (BOD):
clk_internal_8 = Wewnętrzny oscylator 8 MHz (Domyślny)
clk_external_16 = Zewnętrzny kwarc 8-16 MHz (Szybki)
clk_internal_1 = Wewnętrzny oscylator 1 MHz
bod_disabled = Wyłączone (BOD disabled)
bod_27 = Włączone (2.7V)
bod_43 = Włączone (4.3V)
bod_18 = Włączone (1.8V)

